*{
    margin: 0%;
    padding: 0%;
}
main{
    background-color: teal;
height: 100vh;
}
header{
    background-color: lawngreen;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;


    
    
}
ul li{
    background-color: lightcoral;
    font-size: 40px;
    height: 80px;
    float: left;
    width: 200px;
    list-style: none;
    margin-left: 10px;
    text-align: center;
    line-height: 40px;
    margin: 0%;
    margin-left: 10px;
    border: 3px solid black;
    
    

    
}
ul li:hover{
    background-color: lightgray;
}
a{
    text-decoration: none;
    color: blueviolet;
    line-height: 80px;
}
a:hover{
    color: aqua;
}
ul li>ul li{
    display:none ;
    

    
    
}
ul li:hover>ul li{
    display: block;
}