*{
    margin: 0%;
    padding: 0%;
}
main{
    background-color: green;
height: 100vh;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    
}
header{
    background-color: teal;
    height: 150px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    margin-left: 10px;
    height: 80px;
    width: 200px;
    float: left;
    background-color: maroon;
    text-align: center;
    list-style: none;
    font-size: 40px;
    line-height: 70px;
    margin-top: 40px;
    text-transform: capitalize;
    margin: 0%;
    margin-left: 10px;
}
ul li>ul li{
    display:none ;
}
ul li:hover{
    background-color:rosybrown;
}
ul li:hover>ul li{
    display: block;
}
a{
    color: khaki;
    text-decoration: none;
}
a:hover{
    color: lawngreen;
}