main{
    height: 600px;
    width: 600px;
    background-color: blueviolet;
    margin: auto;

}
header{
    height:80px;
    width:550px;
    background-color:olive;
    
    
}
aside{
    height: 400px;
    width: 300px;
    background-color: red;
    float: left;
}
section{
    height: 400px;
    width:280px ;
    background-color: blue;
    float: right;
}
footer{
    height: 100px;
    width: 600px;
    background-color: tomato;
}