*{
    margin: 0%;
    padding: 0%;
}
main{
    display: flex;
    flex-direction: column;
}
header{
    background-color:blueviolet;
}

nav{
    background-color: aqua;
}
.main-section{
    display: flex;
    flex-direction: row;
}
.one{
    background-color: teal;
}
.two{
    background-color: tomato;
}
.three{
    background-color: lawngreen;
}
footer{
    background-color: blue;
}
@media (max-width:700px){
    .main-section{
        flex-direction: column;
    }
}