*{
    margin: 0%;
    padding: 0%;
}
main{
    display: flex;
    flex-direction: column;
    
}
header{
    background-color: red;
}
nav{

    background-color: green;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

a{
    font-size: 2rem;
    color: aliceblue;
    text-decoration: none;
}
.main-section{
    display: flex;
    flex-direction: row;
}

.one{
    background-color: teal;
}
.two{
    background-color: lightcoral;
}
.three{
    background-color: turquoise;
} 


footer{
    background-color: yellow; 
}
    

@media all and(max-width:700px){
    .main-section{
        flex-direction: column;
    }
}