* {
    margin: 0%;
    padding: 0%;
}

.container {
    background-color: aqua;
    height: 500vh;
    text-align: center;
}

header{
    background-color: yellow;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.logo{
    background-color: teal;
    height: 20vh;
    width: 300px;
    display: flex;

}
.menu{
    background-color: blueviolet;
    width: 1200px;
    height: 20vh;
    margin-top: -132px;
    margin-left: 300px;
}



nav {
    background-color: tomato;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.a-1 {
    background-color:red;
    flex-basis: 20%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.a-2 {
    background-color:red;
    flex-basis: 20%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.a-3 {
    background-color:red;
    flex-basis: 20%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

aside {
    background-color: green;
    height: 90vh;
}

article {
    background-color: blue;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.b-1 {
    background-color: sandybrown;
    flex-basis: 20%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.b-2 {
    background-color:sandybrown;
    flex-basis: 20%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.b-3 {
    background-color: sandybrown;
    flex-basis: 20%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

section {
    background-color: yellow;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.c-1 {
    background-color: seagreen;
    flex-basis: 20%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.c-2 {
    background-color: seagreen;
    flex-basis: 20%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.c-3 {
    background-color:seagreen;
    flex-basis: 20%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

footer {
    height: 70vh;
    background-color: saddlebrown;
}

@media all and (min-width-400px){
    section{
        
        flex-direction: column;
    }
}