*
{margin: 0%;
    padding: 0%;
}

.main {
    height: 1750px;
    width: 1350px;
    background-color:black;
}

.header {
    height: 100px;
    width: 1350px;
    background-color: ;
    float: left;
}

.logo {
    height: 100px;
    width: 200px;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 25px;
    float: left;

}

.a1 {
    font-size: 15px;
    height: 20px;
    width: 200px;
    margin-top: 40px;
    margin-left: 40px;
    float: left;
}

.menu {
    height: 100px;
    width: 1000px;
    float: left;
}

a {
    float: left;
    list-style: none;
    line-height: 50px;
    width: 175px;
    position: relative;
    left:240px;
    text-transform: uppercase;
    top: -40px;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    text-decoration: none;

}
a:hover{
    background-color:red;
}

.container1 {
    height: 350px;
    width: 1350px;
    
}
.games{
    height: 250px;
    width: 1000px;
    margin-left: 200px;
}


h2 {
    font-size: 30px;
    text-transform: capitalize;
    margin-left: 250px;
    position: relative;
    top: -220px;
    color: aliceblue;
}

.a7 {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 250px;
    position: relative;
    top: 10px;
    color: aliceblue;
}

span
 {
    color:yellow;
}

.button1 {
    position: relative;
    top: 30px;
    font-size: 20px;
    height: 35px;
    width: 150px;
    text-transform: capitalize;
    margin-left: 250px;
    color: aliceblue;
    background-color: red;
}

.button1:hover {

    background-color: royalblue;
}

.container2 {
    height: 650px;
    width: 1000px;
    margin: auto;
    
}

h3 {
    font-size: 30px;
    text-transform: capitalize;
    text-decoration: underline;
    margin-left: 20px;
    padding-top: 20px;
    color: aliceblue;
}

.from1 {
    color: aliceblue;
    height: 250px;
    width: 230px;
    background-color: ;
    float: left;
    margin: 4px;
    margin-left: 13px;
    margin-top: 10px;
}

h4 {
    margin-top: 20px;
    margin-left: 10px;
}

.a50 {
    margin-top: -70px;
    font-size: 20px;
    margin-left: -60px;
}

.a2 {
    font-size: 25px;
    width: 220px;
    height: 50px;
    background-color: lawngreen;
    color: aliceblue;
    border: none;
    margin-left: 350px;
    margin-top: 10px;
}

.a2:hover {
    background-color:red;
}

.a10 {
    margin-left: 850px;
    margin-top: px;
}

.fa-star {
    position: relative;
    left:80px;
    top: -15px;
}

.a6 {
    position: relative;
    top: -60px;
}

h1 {
    color: aliceblue;
}

.container3 {
    height: 400px;
    width: 1000px;
    
    margin: auto;
    margin-top: 60px;
}

.container4 {
    height: 100px;
    width: 1000px;
    margin-top: 20px;
    
}

.text-1 {
    height: 100px;
    width: 140px;
  float: left;
  margin-left: 15px;
  
}



.a10 {
    color: white;
    margin-left: 0px;
    font-size: 22px;
    margin-top: 250px;
    
}

p {
    color:wheat;
    margin-top: 30px;
    margin-left: 2px;
    margin-top: -210px;


}

img {
    height: 70px;
    width: 100px;
    padding-top: 15px;
}

button {
    height: 30px;
    width: 140px;
    position: relative;
    top: 35px;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 10px;

}
.text-2{
    font-size: 20px;
    height: 40px;
    margin-left: 400px;
    width: 180px;
    color: aliceblue;
    background-color: gold;
}

.text-2:hover{
background-color: red;
}
.text-3{
font-size: 20px;
margin-top: 280px;
color: aliceblue;
}
.amr{
    height:170px;
    width: 200px;
    margin-left:15px;
}