.container{
    background-color: orange;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
background-color: blue;
flex-basis: 20%;
}
main{
background-color: gray;
flex-basis: 70%;
display: flex;
}
nav{
    background-color: yellow;
    flex-basis: 25%;
}
article{
background-color: violet;
flex-basis:50% ;
}
aside{
background-color:green ;
flex-basis:25% ;
}
footer{
background-color: brown;
flex-basis: 10%;
}