.main{
    height: 650px;
    width: 1350px;
    background-image: url(images/india\ gate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    height: 100px;
    width: 1350px;
}
.logo{
    height: 100px;
    width: 200px;
    float: left;
}
h1{
    color: aliceblue;
    font-size: 35px;
}
h1:hover{
    background-color: yellow;
}
.manu{
    height: 100px;
    width: 1350px;
    padding-top: 10px;
}
.manu ul li{
    display: inline;
    font-size: 30px;
    margin-left: 120px;
    
}
a{
    color: aliceblue;
}
a:hover{
    color:red;
}
.container{
    height: 400px;
    width: 1350px;
    
}
.text1{
    height: 50px;
    width: 1350px;
    float: left;
    text-align: center;
    color: aliceblue;
    text-decoration: underline yellow;
}
.text1:hover{
    color: red;
}
.change-some::after{
    content:"";
    animation: changeashtama 10s infinite linear;
    color:red;
    text-shadow: 2px 3px blanchedalmondss;
}
 @keyframes changeashtama{
    10%{ content: "maharashtra";}
20%{ content: "pune";}
30%{ content: "mumbai";}
 }
 .text2{
    height: 100px;
    width: 1350px;
    float: left;
    text-align: center;
    color: white;
    font-size: 70px;
 }
 .text2:hover{
    color: orange;
 }
 
 .text3{
    height:50px ;
    width: 1350px;
    float: left;
    text-align: center;
 }
button{
    height: 40px;
    width: 100px;
    position: relative;
    left: 550px;
}
 
button:hover{
    background-color: skyblue;
    color: brown;
    border: none;
}































