.main{
    height: 600px;
    width: 1000px;
    background-color: aqua;
}
.manu{
    height: 100px;
    width: 1000px;
    background-color: aquamarine;
}
ul li{
    float: left; 
    background-color: wheat;
    width: 150px;
    height: 50px;
    list-style: none;
    line-height: 50px;
    text-align: center;
    
}
ul li:hover{
    background-color: yellow;
    border:solid black 3px;
}
ul li>ul li{
    display: none;
}
ul li:hover>ul li{
    display: block;
}
